doctype html

head
  // see htmlhead.dev for head elements guide
  meta(charset='utf-8')
  // site properties
  title resume
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js' crossorigin='anonymous'
         integrity='sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js' crossorigin='anonymous'
         integrity='sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'
       integrity='sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=='
       rel='stylesheet' crossorigin='anonymous')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.min.css'
       integrity='sha512-V+r0ugxPpGraMA2ubEWvqpfcZZAfMAbnSDPeu/6gYFfdxlgJGfCuNTNrZkrjQ0sJBoySdN6uoTVwJ+4P/BeTkg=='
       rel='stylesheet' crossorigin='anonymous')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'
       integrity='sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=='
       rel='stylesheet' crossorigin='anonymous')
  link(href='static/fonts/genyog-font/genyog.css' rel='stylesheet')
  link(href='static/css/resume.css' rel='stylesheet')

body.A4
  section.sheet.padding-10mm
    block content

// vim: set ts=2 sw=2 et:
